ros-noetic-rtabmap-ros
ros-noetic-navigation
ros-noetic-tf
ros-noetic-hector-slam
ros-noetic-gmapping
ros-noetic-ros-control
ros-noetic-joint-state-publisher
ros-noetic-robot-state-publisher
ros-noetic-cv-bridge
ros-noetic-laser-scan-matcher
ros-noetic-effort-controllers
ros-noetic-velocity-controllers
ros-noetic-controller-manager

